@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

<div class="header-wrapicon1 dis-block">

    <a href="/Manage/Index"><img src="../../Content/DesignContent/images/icons/icon-header-01.png" class="header-icon1" alt="ICON"></a>
    <span class="display-name">
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </span>
    &ensp;

    <a  href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
   
</div>

    }
}
else
{
    <a href="#" class="header-wrapicon1 dis-block">
        <img src="../../Content/DesignContent/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
        &ensp; <span>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </span>
    </a>

}
   
