<div class="header-wrapicon2">
   
    <a href="/Order/Index">
        <img src="../../Content/DesignContent/images/icons/icon-header-02.png" class="header-icon1 " alt="ICON">
    </a>
      
    <span style="background-color: red" class="header-icons-noti">@ViewBag.cartNum</span>
       
    

   
 
</div>